<nav class="navbar navbar-expand-lg navbar-light  shadow-sm" style="background-color: #e3f2fd;">
    <div class="container">
        <!-- Logo (optional) -->
        <a class="navbar-brand">
            <!-- <img src="your-logo-url" alt="Logo" height="40"> -->
        </a>

        <!-- Toggle button for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCenteredExample"
            aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/booking']">My Bookings</a>
                </li>
            </ul>
        </div>

        <!-- Login button -->
        <div class="d-flex">
            @if(userObj.userId>0){
            <p class="text-center">{{userObj.name| uppercase}}</p> &nbsp;
            <button type="button" class="btn btn-outline-success px-3 me-2" (click)="logout()">
                Logout
            </button>
            }@else {

            <button type="button" class="btn btn-outline-success px-3 me-2" (click)="openloginRegistrationFormModal()">
                Login
            </button>
            }
        </div>
    </div>
</nav>

<!-- login and registration form modal -->
<div class="modal" #loginRegistration>
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @if(!isLogin){
                <h4 class="modal-title">Login</h4>
                }
                @else {
                <h4 class="modal-title">Register</h4>
                }
                <button type="button" class="btn-close" (click)="closeloginRegistrationFormModal()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @if(!isLogin){
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-1">
                        <input type="text" id="ContactNumber" class="form-control form-control-lg"
                            placeholder="Enter Phone Number" name="ContactNumber" [(ngModel)]="loginObj.ContactNo" />
                        <label class="form-label" for="ContactNumber">Phone Number</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-1">
                        <input type="password" id="passwordData" class="form-control form-control-lg"
                            placeholder="Enter Password" name="passwordData" [(ngModel)]="loginObj.Password" />
                        <label class="form-label" for="passwordData">Password</label>
                    </div>

                    <div class="text-center text-lg-start mt-2 pt-2">
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="onLogin()">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0 cursor-pointer" (click)="isLogin=true">Don't have an
                            account? <a class="link-danger" onclick="showRegister()">Register</a></p>
                    </div>
                </form>

                }@else {
                <form>
                    <!-- User Name -->
                    <div class="form-outline mb-1 ">
                        <input type="text" id="userName" class="form-control form-control-lg"
                            placeholder="Enter User Name" name="userName" [(ngModel)]="userObj.Name" />
                        <label class="form-label" for="userName">User Name</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-1 ">
                        <input type="email" id="email" name="email" class="form-control form-control-lg"
                            placeholder="Enter Email" [(ngModel)]="userObj.Email" />
                        <label class="form-label" for="email">Email</label>
                    </div>

                    <!-- Phone Number -->
                    <div class="form-outline mb-1 ">
                        <input type="text" id="phoneNumber" class="form-control form-control-lg"
                            placeholder="Enter Phone Number" name="phoneNumber" [(ngModel)]="userObj.ContactNo" />
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                    </div>

                    <!-- Password -->
                    <div class="form-outline mb-1">
                        <input type="password" id="password" class="form-control form-control-lg"
                            placeholder="Enter password" name="password" [(ngModel)]="userObj.Password" />
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="text-center text-lg-start mt-2 pt-2">
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            (click)="onRegistration()">Register</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0 cursor-pointer" (click)="isLogin=false">If You Alreay
                            Have an Account? <a class="link-danger" onclick="showLogin()">Login</a></p>
                    </div>
                </form>
                }
            </div>
        </div>
    </div>
</div>